{% extends "main/layout.html" %}
{% load static %}
{% block content %}
<div class="aios">
    <h1>Галактика Треугольника</h1>
    <img src="{% static 'main/img/12.jpg' %}">
    <p> Галактика Треугольника (M 33, NGC 598) — спиральная галактика типа Sc, одна из ближайших галактик к Млечному Пути, удалённая от него на 850 килопарсек. Находится в Местной группе и занимает в ней третье место по размеру, массе и светимости после Галактики Андромеды и Млечного Пути.</p>
</head>
<body>
    <button onclick="window.location.href='https://ru.wikipedia.org/wiki/Галактика_Треугольника';">
        Википедия
    </button>
    {% endblock %}